@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* .cf { *zoom: 1; } */

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}
/* common class style start */
.h2-common{
  font-size: 62px;
  padding: 80px 0 40px;
  font-weight: bold;
  text-align: center;
}

.background-color-customgrey{background: #B4C3CB;}
.background-color-grey{background: #DDDDDD;}
.background-color-white { background: #fff; }
.background-color-black{ background: #222222;}
.background-color-darkblack{background-color: #000;}
.font-color-black { color: #000; }
.font-color-white { color: #fff; }
.font-color-orange{color: #F98080;}
.font-color-grey{color: #38223C;}
.img-border { border: 10px solid #fff; }
.border-radius { border-radius: 30px;}
.caps-first { text-transform: capitalize; }
.caps { text-transform: uppercase; }

.fontawesome{
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
}
.wrapper{
  max-width: 1366px;
  width: 94.44%;
  margin: 0 auto;
}

.hover-pointer{
  cursor: pointer;
}
/* common class style end */

/* haeder section style start */
header{ 
  width: 100%;
  min-height: 596px;
  position: relative;
}

header div figure{ 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.structure h1{ font-size: 52px; }
.structure h1 a { text-decoration: none; }

.structure h1 a:hover{ 
  color: #F98080; 
  transition: 0.2s;
}

.structure{
  display: flex;
  width: 96%;
  margin: 0 auto;
  justify-content: space-between;
 border-bottom: 3px solid #fff;
 padding: 20px;
}

nav{text-align: center}

nav ul{
  display: flex; 
  list-style: none; 
  padding: 25px;
  align-items: center;
}

nav li select{
  outline: none;
    border: transparent;
    font-size: 16px;
}

nav ul li{padding: 0 10px;}
nav li a{text-decoration: none;}
nav li input{display: none;}

.icon{
  text-indent: -9999px;
  float: right;
  padding: 5px;
}
.icon::before {
  content: "\f002";
 font-family: "fontAwesome";
 text-indent: 0;
 float: right;
}

.search{
  display: flex;
    align-items: center;
}

.search a:hover{
  color: #F98080;
  transition: 0.2s;
}

.search input {display: none;}

.search a[title="shop"]{
  text-indent: -9999px;
  float: right;
}

.search a[title="Shop"]::before{
  content: "\f290";
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 30px;
}
/* haeder section style end */
/* fresh-new-desugn section style start */

.img-lists {
  display: flex; 
  width: 100%;
}

.img-lists ul {
  list-style: none;
   width: 100%;
}

.img-lists ul li { 
  width: 94%; 
  padding: 10px;
}

.img-lists ul li img{ 
  border:  10px solid #fff;
   width: 100%; 
   box-shadow: 5px 5px #A2AFB7;
}

.fresh-new-design{padding: 0 0 120px;}

/* fresh-new-desugn section style end */

/* slider div style start */

.slider{ width: 100%; background: #222222;}
.slider ul li{width: 100%; }
.SliderImage li:not(:first-child){display: none;}

.SliderImage{
  display: flex;
  padding-top: 20px;
}

.SliderImage li{display: flex;}

.number {  
  display: flex; 
  padding: 0 0 35px;
}

.SliderImage li span{
  width: 10%;
  display: block;
  text-indent: -9999px;
  float: left;
}

.SliderImage li span::after{
  content: "\f10e";
 font-family: "fontAwesome";
 text-indent: 0;
 float: left;
 font-size: 72px;
 padding: 20px;
}

.SliderImage li p:not(:last-child){
  width: 80%;font-size: 
  33px;padding: 30px;
}

.SliderImage li a{
  text-align: center;
  padding: 0 0 0 65px;
  text-decoration: none;
}

.number ul {
  display: flex;
   list-style: none;
   width: 10%;
   justify-content: space-between;
   align-items: center;
}

.number ul a{
  text-decoration: none;
  text-indent: -9999px;
  float: left;
  border: 1px solid #F98080;
  border-radius: 10px;
  height: 11px;
  width: 100%;
}

.number ul a::after{
  text-indent: 0;
  float: left;
}

.number ul a:hover{ 
  background-color: #F98080; 
  transition: .2s;
}

.number ul li{
   width: 8%;
   height: 11px;
}
.circleimg figure img{
  border-radius: 76px;
  padding: 20px;
}
.circleimg h3{ text-align: center; font-size: 32px;}
.circleimg figure{ padding: 15px 51px 0 51px;}

.left{
  text-decoration: none;
  text-indent: -9999px;
  float: left;
  border: 1px solid;
  padding: 3px;
}

.left::after{
  content: "\f100";
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
  font-size: 33px;
}

.right{
  text-decoration: none;
  text-indent: -9999px;
  float: left;
  border: 1px solid;
  padding: 3px;
  margin-left: 15px;
}

.right::after{
  content: "\f101";
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
  font-size: 33px;
}
.arrow{
  display: flex;
  justify-content: center;
  width: 45%;
}

/* slider div style start */
/* meet our authors style start */

.meet-our-authors ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  padding:  30px 0 0;
}

.meet-our-authors figure, .meet-our-authors figure img{width: 100%;}
.meet-our-authors figure img {border-radius: 95px;}
.meet-our-authors ul li{width: 13%;} 

.meet-our-authors li div{
  text-align: center;
  padding: 20px 0 20px;
}

.meet-our-authors li div p{ line-height: 1.5; }

/* meet our authors style end */
/* top-selling-designs style start */

.top-selling-designs{padding: 0 0 80px 0;}

.design{
  display: flex; 
  list-style: none;
  width: 100%;
  justify-content: space-between;
  padding: 55px 0 0;
}

.design li{ width: 23%; 
  box-shadow: 5px 5px #A2AFB7; 
  position: relative;
}

.design li figure, .designimg{ width: 100%;}

.floatt{
  position: absolute;
  top: -10%;
  left: 71%;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #F98080;
  height: 13%;
  width: 21%;
}

.floatimg{
  width: 20%;
  border-radius: 50px;
  border: 1px solid;
}

.design h3{ font-size: 19px; padding:  0 0 10px 0;}
.design div{ padding: 20px;}

.strikeout{ 
  text-decoration: line-through #F98080; 
  color: #A2AFB7;
}
/* top-selling-designs style end */
/* about section style start */

.about{padding: 0 0 120px;}

.about .wrapper{
  display: flex; 
  justify-content: space-between;
}

.about-div{width: 33%;}
.instagram-div{width: 30%;}
.our-sponsers{width: 27%;}

.about ul{
  display: flex; 
  list-style: none;
  justify-content: space-between;
    width: 94%;
}

.about li a{ text-decoration: none;}
.about li a:hover{ color: #F98080;}

.about h4{ 
  padding: 70px 0 20px 0; 
  font-weight: bold; 
  font-size: 18px;
}

.about ul li{ width: 24%;}

/* about section style end */
/* footer section style start */

.privacy li:not(:first-child){border-left: 2px solid #fff;}
footer{padding: 10px 0;}
footer ul{
   display: flex;
   list-style: none;
  }

.social-media a::before{ text-decoration: none;font-family: "fontAwesome";
  text-indent: 0;
  float: left;
  padding: 0 3px;
}

.social-media a:hover{color: #F98080;}

.social-media a{ 
  text-indent: -9999px; float: left; 
  padding-right:5px;
} 

.social-media a[title="Facebook"]::before{ content: "\f09a"; }
.social-media a[title="Twitter"]::before{ content: "\f099"; }
.social-media a[title="Vimeo"]::before{ content: "\f27d"; }
.social-media a[title="Instagram"]::before{ content: "\f16d"; }

footer .wrapper { 
  display: flex;
  justify-content: space-between;
}

.privacy li a{padding: 0 5px;}

/* footer section style end */
/* media query style start */

@media screen and (max-width:1280px) {

/* header section start*/
header{
  min-height: 550px;
}
.structure{
  width: 94%;
}
.structure h1 {
  font-size: 46px;
}
/* header section end */
  /* freshnewdesign start */
.h2-common{font-size: 62px; padding: 70px 0 35px;}

.img-lists ul li{ width: 92%; padding: 10px;}
/* freshnewdesign end */
}

@media screen and (max-width: 1024px) {
  header{
    min-height: 500px;
  }
  .structure{
    width: 91%;
  }
  .structure h1 {
    font-size: 38px;
    padding: 1%;
}

/* freshnewdesign start */
.h2-common{font-size: 58px; padding: 60px 0 20px;}

.img-lists ul li{ width: 91%; padding: 9px;}
/* freshnewdesign end */

.SliderImage li span::after {font-size: 68px;}
}

@media screen and (max-width: 995px) {

  header{
    min-height: 460px;
  }
  .structure{
    width: 90%;
  }
  .structure h1 {
    font-size: 36px;
    padding-top: 2%;
}


  /* freshnewdesign start */
.h2-common{font-size: 52px;}

.img-lists ul li{ width: 90%; padding: 8px;}

.floatt span{ 
  font-size: 10px;
  width: 20%;
  display: block;
}
/* freshnewdesign end */


/* about section */
.our-sponsers figure img {width: 100%;}
/* about section */
}

@media screen and (max-width: 768px) {

  header{
    min-height: 410px;
  }
  .search{display: none;}

  .img-lists{
    flex-direction: column;
  }

 /* freshnewdesign start */
 .h2-common{font-size: 48px; padding: 45px 0 15px;}

 .img-lists ul li{ width: 87%; padding: 7px;}
 /* freshnewdesign end */

 /* design section start */
 .design{
  flex-direction: column;
  align-items: center;
 }

.design li{ padding-bottom: 30px;}
 .top-selling-designs { padding: 0 0 40px 0; }

.design div{padding: 10px;}

.design div h3{ 
  font-size: 13px;
  padding: 0 0 4px 0; 
}
.floatt span{ 
  font-size: 10px;
  width: 20%;
  display: block;
}
/* design section end */

 /* about section start */
 .about .wrapper{flex-direction: column; align-items: center;}
 .about h4 {text-align: center;
  padding: 40px 0 10px 0;
}

.about{padding: 0 0 60px;}

.about-div p{ font-size: 12px;}
 /* about section end */

 /* footer section start */
 .privacy li a {font-size: 12px;}
 /* footer section end */
}

@media screen and (max-width: 480px){
 /* freshnewdesign start */
 .h2-common{font-size: 42px;}
 
 .img-lists ul li{ width: 83%; padding: 6px;}
 /* freshnewdesign end */

 /* about section start */
 .about{padding: 0 0 45px;}
 .about-div p{ font-size: 9px;}
 /* about section end */
}

@media screen and (max-width: 320px){
  /* freshnewdesign start */
  .h2-common{font-size: 40px;}
  
  .img-lists ul li{ width: 80%; padding: 4px;}
  /* freshnewdesign end */

 /* about section start */
 .about{padding: 0 0 30px;}
 .about-div p{ font-size: 7px;}
 /* about section end */

 }
/* media query style end */